<% content_for :javascript do %>
  <%= javascript_include_tag 'candidate' %>
<% end %>

<div class="row">
  <div id="candidate" class="span12" data-json="<%= @candidate.to_json %>">
    loading...
  </div>  
</div>


<div class="row">
  <div class="span6">
    <h3>Events</h3>
    <div id="energy"></div>
    <ul id="available_events">
      loading...
    </ul>
  </div>
  
  <div class="span6">
    <h3>Contibutions</h3>
    <ul id="score-history"></ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div id="avg-score-history" style="width:100%;height:300px; clear:both;"></div>
  </div>
  
</div>


