<% content_for :javascript do %>
  <%= javascript_include_tag 'candidate' %>
<% end %>

<div id="candidate" data-json="<%= @candidate.to_json %>">
  <%= @candidate.name %> - <span id="score"><%= @candidate.score %></span>
</div>
<ul id="available_events" style="display: block; float: left; width: 40%;">
  loading...
</ul>

<ul id="score-history" style="display: block; float: left; width: 40%;"></ul>
<div id="avg-score-history" style="width:600px;height:300px; clear:both;"></div>
