<% content_for :javascript do %>
  <%= javascript_include_tag 'candidate' %>
<% end %>

<div id="candidate" data-json="<%= @candidate.to_json %>">
  <%= @candidate.name %> - <span id="score"><%= @candidate.score %></span>
</div>
<ul id="available_events">
  loading...
</ul>

<div id="score-history" style="width:600px;height:300px"></div>
<div id="avg-score-history" style="width:600px;height:300px"></div>
