/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require active_scaffold
 *= require_self
*/

div{
  margin-bottom: 10px;
}

ul{
  padding:0;
  margin: 0;
}
li{
  list-style: none;

}

button{
  width: 100%;
}

#actions{
}

#candidates{  
}

#score{
  float: right;
  background-color: lightgrey;
  padding:.5em;
  border: thin solid darkgrey;
}

#score-history{
  width:100%;
  height:200px;
}

#countdown{
  color: darkgrey;
  float: right;
}

ul#fancy li:before {
	content: "\002D \0020";
	}
ul#fancy li {
	padding: .5em;
	}