<% content_for :javascript do %>
  <%= javascript_include_tag 'recruiter' %>
<% end %>

<div>
  <h1>Recruiter: <%= @recruiter.name %></h1>
</div>
<div class="row">
  <div id="actions" class="span4">
    <h3>Actions</h3>
    <ul id="available_events">
      loading...
    </ul>    
  </div>
  
  <div id="candidates" class="span8">
    <h3>Candidates</h3>
    <table id="candidates-table" class="table table-striped table-bordered">
    </table>
  </div>
</div>
